html, body {
    background: rgb(42,42,42);
    background: -moz-linear-gradient(90deg, rgba(42,42,42,1) 40%, rgba(61,61,61,1) 70%, rgba(78,78,78,1) 90%);
    background: -webkit-linear-gradient(90deg, rgba(42,42,42,1) 40%, rgba(61,61,61,1) 70%, rgba(78,78,78,1) 90%);
    background: linear-gradient(90deg, rgba(42,42,42,1) 40%, rgba(61,61,61,1) 70%, rgba(78,78,78,1) 90%);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

.container {

    height: 100vh;

    width: 100vw;

    display: flex;

}

.image-container {

    flex: 1 1 50%;

    display: flex;

    justify-content: center;

    align-items: center;

    /* background-color: red; */

}

.image-container div {

    background-image: url('/site/main/media/me_fourth.png');

    background-repeat: no-repeat;

    background-size: contain;

    background-position: center;

    mix-blend-mode: lighten;

    width: 50%;

    transform: translateY(-5vh);

    aspect-ratio: 1/1.7;

}

.content {

    flex: 1 1 50%;

    /* background-color: orange; */

    display: flex;

    flex-direction: row-reverse;

}

.content .markers {

    display: flex;

    justify-self: flex-end;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    height: 100vh;

    width: 2%;

    background-color: #111;

}

.content .markers .marker {

    height: clamp(60px, 5%, 200%);

    width: calc(100% - 10px);

    margin: 5px;

    background-color: #333;

    transition: all 0.2s ease-in-out;

}

.content .markers .marker.active {

    transform: translateX(-2px);

    background-color: #f4f4f4;

    transition: all 0.2s ease-in-out;

}

.snap-scrolling {

    scroll-snap-type: both mandatory;
    scroll-behavior: smooth;
    flex-grow: 1;
    white-space: nowrap;
    overflow-y: scroll;
    scrollbar-width: none;
    width: 90%;
    /* background-color: green; */

}

.snap-scrolling > .snap-section {

    display: block;
    height: 100%;
    width: 100%;
    /* border-radius: 10%; */
    /* margin: 5px; */
    scroll-snap-align: center;

}

/* SNAP SECTION CONTENT */
/* WELCOME SECTION */
.welcome {

    width: calc(100% - 200px);

    height: 100%;

    margin-inline: 100px;

    display: flex;

    flex-direction: column;

    justify-content: center;

}

.welcome h3,
.welcome h1,
.welcome p {

    width: 80%;

    margin-block: 0;

    text-wrap: wrap;

    color: #f4f4f4;

    font-family: 'Poppins', sans-serif;

}

.welcome h3 {

    font-size: clamp(20px, 2em, 100px);

}

.welcome h1 {

    font-size: clamp(20px, 4em, 100px);

    color: orangered;

}

.welcome p {

    font-size: clamp(10px, 1.3em, 100px);

}

/* TIMELINE SECTION */
.timeline-container {

    text-overflow: clip;

    text-wrap: wrap;

    text-wrap-mode: wrap;

    display: flex;

    flex-direction: row;

    overflow-y: auto;

    max-height: 100%;

    position: relative;

    scroll-behavior: smooth;

    scrollbar-width: none;

}

.timeline-container .line {

    top: 0;

    height: 100%;

    left: 10px;

    border: 1px solid #111;

    position: absolute;

    transition: height 0.1s linear;
    
}

.timeline-cards {



}

.timeline-cards div:not(.card-dot, .card-text):first-child {

    margin-top: 100px;

}

.timeline-cards div:not(.card-dot, .card-text):last-child {

    margin-bottom: 100px;

}

.timeline-cards div:not(.card-dot, .card-text) {

    width: calc(80% - 20px - 0.7rem);

    margin-bottom: 40px;

    padding-left: calc(20px + 0.7rem);

    position: relative;

    display: flex;

    flex-direction: row;

}

.card-dot {

    width: 1rem;

    aspect-ratio: 1/1;

    border-radius: 50%;

    background-color: orangered;

    border: 0.2rem solid #f4f4f4;

    position: absolute;

    /* left: calc(0px - 0.7rem); */

    left: 0;

    top: calc(20px + 0.7rem);

}

.card-text {

    height: 20vh;

    display: flex;

    flex-direction: column;

    padding: 0px;

    margin: 0px;

    border-radius: 1rem;

    background-color: #111;

    width: 0;

    overflow-x: hidden;

    text-overflow: clip;

    text-wrap: nowrap;

}

.card-text h1 {

    margin-block: 0;

    font-size: clamp(12px, 1.4rem, 100px);

    color: orangered;

}

.card-text p {

    font-size: clamp(10px, 0.8rem, 100px);

    color: #f4f4f4;

}

.card-text.active {

    height: 20vh;

    display: flex;

    flex-direction: column;

    padding: 20px;

    margin: 10px;

    border-radius: 1rem;

    background-color: #111;

    width: 100%;

}

.card-text.active h1 {

    margin-block: 0;

    font-size: clamp(12px, 1.4rem, 100px);

    color: orangered;

}

.card-text.active p {

    text-wrap: wrap;

    overflow-y: auto;

    font-size: clamp(10px, 0.8rem, 100px);

    color: #f4f4f4;

}